* {
    margin: 0;
}

body {
    height: 100%;
    min-width:900px;
}
html {
    position:relative;
    min-height:100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.header {
    background-color: #F2F3F4;
    width: 100%;
    height: 128px;
    left: 0px;
    top: 0px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 128px;
    min-height: 100%;
}

.footer {
    background: #D4D5D6;
    height: 128px;
    position: absolute;
    bottom: 0;
    width: 100%;
}




.headerTitle {
    text-align: center;
    padding-top: 42px;

    font-family: Citymobil_v0-2;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #707070;
}


.sidebar {
    width: 224px;
    left: 0%;
    max-height: calc(100% - 128px);
    background: #E4E5E6;
    box-shadow: inset 0px -1px 0px rgba(150, 150, 150, 0.25);
    position: absolute;
    top: 128px;
    bottom: 0;

}

.sidebarTitle {
    text-align: center;
    padding-top: 200px;

    font-family: Citymobil_v0-2;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #707070;
}

.center {
    margin-left: 224px;
    width: calc(100% - 224px);
    padding: 10px;
}



.footerTitle {
    text-align: center;
    padding-top: 42px;

    font-family: Citymobil_v0-2;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #707070;
}
